:root {
  --color-light: #f9f9f9;
  --color-dark: #171717;
  --color-white: #fff;
  --color-light-blue: #6483ff;

  --global-backgroundcolor: var(--color-dark);
  --global-fontcolor: var(--color-light);

  --global-border-color: var(--color-light);

  --global-font-color: var(--color-white);
  --global-hover-color: var(--color-light-blue);

  /* borders */
  --global-borderRadius: 30px;
  --global-borderWidth: 2px;

  /* Baseline settings */
  --global-baseline: 8px;
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

  /* forms */
  --global-input-borderColor: var(--global-border-color);

  --global-font-size-regular: 24px;
  --global-font-size-big: 36px;

  --global-hover-color: #6583fac4;
  --global-pressed-color: #3053e0;

  --global-padding-top: 30px;

  --global-canvas-width-hight: 600px;
}

html {
  color: var(--global-fontcolor); /* font color */

  font-size: var(--global-font-size-regular);
  font-family: arial, Helvetica, sans-serif;

  font-feature-settings: 'zero' 1;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(/img/StarBackground2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1 {
  /* padding-top: var(--global-padding-top); */
  font-weight: bold;
  font-size: var(--global-font-size-big);
  padding-left: 1rem;

  grid-column-start: 1;
  grid-row-start: 1;
}

h2 {
  /* padding-top: var(--global-padding-top); */
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 28px;

  grid-column-start: 2;
  grid-row-start: 1;
}

.c-app {
  display: flex;
  display: grid;

  grid-template-columns: 18rem 45rem 17rem;
  grid-template-rows: 5rem 25rem 9rem;
}

.c-solarsystem {
  grid-column-start: 2;
  grid-row-start: 2;

  justify-items: center;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.c-solarsystem__sun {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 3.125rem;
  height: 3.125rem;
}

.c-tekst {
  grid-column-start: 2;
  grid-row-start: 3;
  display: flex;
  justify-content: space-between;
}

.c-tekst__lower {
  grid-column-start: 2;
  grid-row-start: 3;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

/* .c-tekst__lower:hover {
  color: hotpink;
} */

.c-tekst__earth {
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid var(--color-light-blue);
  margin: 1em 0;
  padding: 0;
}

.c-tekst__mars {
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid red;
  margin: 1em 0;
  padding: 0;
}

.c-tekst__roadster {
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid violet;
  margin: 1em 0;
  padding: 0;
}

.c-canvas {
  width: 100%;
  max-width: var(--global-canvas-width-hight);

  height: 100%;
  max-height: var(--global-canvas-width-hight);
  /* padding-bottom: 100%; */
}

@media only screen and (max-width: 767px) {
  .c-app {
    display: grid;

    grid-template-columns: 17.5rem;
    grid-template-rows: 2rem 2rem 20rem 6.5rem;
  }

  .c-canvas {
    width: 100%;
    max-width: calc(var(--global-canvas-width-hight) / 1.5);

    height: 100%;
    max-height: calc(var(--global-canvas-width-hight) / 1.5);
    /* background-color: black; */

    /* padding-bottom: 100%; */
  }

  .c-solarsystem {
    grid-column-start: 1;
    grid-row-start: 3;

    justify-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
  }

  .c-solarsystem__sun {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 1.5625rem;
    height: 1.5625rem;
  }

  h1 {
    padding-left: 0.2rem;
    font-size: 18px;
    font-weight: bold;
    grid-row-start: 1;
  }
  h2 {
    font-size: 18px;
    display: flex;
    align-items: center;
    align-content: center;
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .c-tekst {
    font-size: 16px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    grid-column-start: 1;
    grid-row-start: 4;
    display: flex;
    justify-content: space-between;
  }

  .c-tekst__lower {
    font-size: 16px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    grid-column-start: 1;
    grid-row-start: 4;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }
}

ul {
  list-style: none;
  margin: 1rem;
  padding: 0;
  width: 25rem;
  margin: 1.25rem;
}
ul li {
  font-size: 24px;
  display: block;
  height: 40px;
  padding: 10px;
  padding-left: 2.1rem;

  border-top: 0.125rem;
  transition: all 0.5s;
  opacity: 0;
  line-height: 1;
}

label:before {
  height: 2px;
  width: 20px;
  background: white;
  display: inline-block;
  content: '';
  box-shadow: 0px -5px 0px 0px white, 0px -10px 0px 0px white;
  margin-right: 20px;
  transition: all 0.5s;
  position: relative;
  opacity: 1;
}
label {
  background-color: transparent;
  display: block;
  align-items: flex-end;
  padding: 0.2rem;
  color: white;
  cursor: pointer;
}
input[type='checkbox'] {
  visibility: hidden;
  position: absolute;
}
#collapse:checked ~ li {
  margin-top: 0;
  opacity: 1;
  /* background-color: #232323; */
}
#collapse:checked + label:before {
  position: relative;
}

.c-hamburger {
  padding-top: 3rem;
  grid-row-start: 1;
  grid-column-start: 1;
}
