/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  --color-light: #f9f9f9;
  --color-dark: #171717;
  --color-white: #fff;
  --color-light-blue: #6483ff;

  --global-backgroundcolor: var(--color-dark);
  --global-fontcolor: var(--color-light);

  --global-border-color: var(--color-light);

  --global-font-color: var(--color-white);
  --global-hover-color: var(--color-light-blue);

  /* borders */
  --global-borderRadius: 30px;
  --global-borderWidth: 2px;

  /* Baseline settings */
  --global-baseline: 8px;
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

  /* forms */
  --global-input-borderColor: var(--global-border-color);

  --global-font-size-regular: 18px;
  --global-font-size-big: 48px;

  --global-hover-color: #6583fac4;
  --global-pressed-color: #3053e0;

  /* email */
  --global-color-error: #ff3333;
  --global-color-error-transparent: #ff3333bf;
  --global-color-error-x-transparent: #ff33334d;

  --global-input-error-borderColor: var(--global-color-error);
  --global-input-focus-boxShadowSpread: 0 0 0 3px;
  --global-input-focus-boxShadowColor: var(--global-color-alpha-x-transparent);
  --global-input-error-boxShadowColor: var(--global-color-error-x-transparent);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

html {
  color: var(--global-fontcolor);

  font-size: var(--global-font-size-regular);
  font-family: arial, Helvetica, sans-serif;

  font-feature-settings: 'zero' 1;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(../img/SpaceRoadsterBackgroundV2Mobile.png);

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/
h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;

  padding-top: 1.5rem;

  line-height: 1;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button:hover {
  background-color: var(--global-hover-color);
}

button:active {
  background-color: var(--global-pressed-color);
}

::placeholder {
  color: var(--global-font-color);
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
.c-app {
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: auto;
}
.c-input {
  margin-left: 0.24rem;
}

.c-img {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row-start: 1;
  grid-column-start: 1;

  margin-top: 2rem;
}

.c-tekst {
  display: inline-block;
  vertical-align: text-bottom;

  grid-row-start: 2;
  grid-column-start: 1;

  font-size: 20px;

  line-height: 1;
}

.c-tekst__main {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.c-tekst__lower {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-row-start: 2;
  grid-column-start: 1;
}

.box {
  width: 70%;
}
.popup {
  width: 70%;
  font-size: 13px;
}

.c-input-email {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 45%;

  margin-left: 0.5rem;

  border: 1px solid var(--input-borderColor, var(--global-input-borderColor));
  border-radius: var(--global-borderRadius);
  border-width: var(--global-borderWidth);
  background-color: transparent;

  color: var(--global-fontcolor);
  font-family: inherit;
  font-size: var(--global-font-size-regular);

  line-height: calc(var(--global-baseline) * 3);
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
  outline: none;
}

.c-input-button {
  -webkit-appearance: none;
  -moz-appearance: none;

  display: flex;
  align-items: center;
  justify-content: center;

  appearance: none;
  width: auto;
  font-weight: bold;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;

  border: 2px solid #6483ff;
  background-color: rgba(0, 0, 0, 0.726);
  border-radius: var(--global-borderRadius);
  border-width: var(--global-borderWidth);

  color: var(--global-fontcolor);
  font-family: inherit;
  font-size: var(--global-font-size-regular);

  line-height: calc(var(--global-baseline) * 3);
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
  outline: none;

  text-decoration: none;

  cursor: pointer;
  transition: all 0.5s ease-out;
}

/* Popup message*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  border-radius: 50%;
  margin: 3rem auto;
  padding: 1rem;
  background: var(--color-white);
  border-radius: 0.2rem;
  width: 50%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: var(--color-dark);
  align-items: center;
  align-content: center;
}
.popup .close {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: black;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* EMAIL */
.c-form-field {
  position: relative;
}
.c-label {
  margin-bottom: 0;
  font-size: var(--global-font-size-regular);
  padding-bottom: var(--global-whitespace-sm);
  line-height: calc(var(--global-baseline) * 2);
  color: var(--label-color, var(--global-label-color));
}

.c-label__error-message {
  display: flex;
  justify-content: left;

  grid-row-start: 2;
  grid-column-start: 1;

  margin-left: 0.5rem;
  margin-bottom: 0.5rem;

  font-weight: bold;

  visibility: visible;
  /* display: none; */
}

.has-error {
  --label-color: var(--global-color-error);
  --input-borderColor: var(--global-input-error-borderColor);
  --input-hover-borderColor: var(--global-input-error-borderColor);
  --input-focus-borderColor: var(--global-input-error-borderColor);
  --input-focus-boxShadowColor: var(--global-input-error-boxShadowColor);
}

.c-invisible {
  visibility: hidden;
}
/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/* bigger phones*/
@media (min-width: 400px) {
  h1 {
    padding-top: 0.8rem;
  }
}

/* tablet */
@media (min-width: 768px) {
  body {
    background-image: url(../img/SRBackgroud.png);
  }

  .c-app {
    grid-template-columns: 32rem 17rem 25rem;
    grid-template-rows: 6rem 28.125rem 6.25rem;
  }

  .c-img {
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 3;
    width: 288px;
    height: 583px;
  }
  .c-tekst {
    display: block;
    justify-content: center;
    align-items: center;

    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 3;
    grid-column-end: 3;

    line-height: 1.5;

    font-size: 20px;
  }

  .c-tekst__lower {
    grid-row-start: 3;
    grid-column-start: 3;
  }

  .popup {
    border-radius: 50%;
    margin: 3rem auto;
    padding: 1rem;
    background: var(--color-white);
    border-radius: 0.2rem;
    width: 15%;
    position: relative;
    transition: all 1s ease-in-out;
  }

  .c-input-email {
    margin-left: 0rem;
  }

  .c-input-button {
    margin-left: 0rem;
  }
}

/* desktop*/
@media (min-width: 1200px) {
  body {
    background-image: url(../img/SRBackgroud.png);
  }

  .c-app {
    grid-template-columns: 32rem 17rem 25rem;
    grid-template-rows: 6rem 28.125rem 6.25rem;
  }

  .c-img {
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 3;
    width: 288px;
    height: 583px;
  }
  .c-tekst {
    display: block;
    justify-content: center;
    align-items: center;

    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 3;
    grid-column-end: 3;

    line-height: 1.5;

    font-size: 20px;
  }

  .c-tekst__lower {
    grid-row-start: 3;
    grid-column-start: 3;
  }

  .popup {
    border-radius: 50%;
    margin: 3rem auto;
    padding: 1rem;
    background: var(--color-white);
    border-radius: 0.2rem;
    width: 15%;
    position: relative;
    transition: all 1s ease-in-out;
  }

  .c-input-email {
    margin-left: 0rem;
  }
}
