/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  --color-light: #f9f9f9;
  --color-dark: #171717;
  --color-white: #fff;
  --color-light-blue: #6483ff;

  --global-backgroundcolor: var(--color-dark);
  --global-fontcolor: var(--color-light);

  --global-border-color: var(--color-light);

  --global-font-color: var(--color-white);
  --global-hover-color: var(--color-light-blue);

  /* borders */
  --global-borderRadius: 30px;
  --global-borderWidth: 2px;

  /* Baseline settings */
  --global-baseline: 8px;
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

  /* forms */
  --global-input-borderColor: var(--global-border-color);

  --global-font-size-regular: 18px;
  --global-font-size-big: 48px;

  --global-hover-color: #6583fac4;
  --global-pressed-color: #3053e0;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

html {
  color: var(--global-fontcolor); /* font color */
  /* background-color: black; */

  font-size: var(--global-font-size-regular);
  font-family: arial, Helvetica, sans-serif;

  font-feature-settings: 'zero' 1;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background-image: url(/img/SRBackgroud.png); */
  background-image: url(../img/SRBackgroud.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

h1 {
  font-weight: bold;
  font-size: var(--global-font-size-big);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button:hover {
  background-color: var(--global-hover-color);
}

button:active {
  background-color: var(--global-pressed-color);
}

::placeholder {
  color: var(--global-font-color);
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-app {
  display: grid;

  grid-template-columns: 590px 350px 475px;
  grid-template-rows: 110px 450px 100px;
  /*
  
  grid-template-columns: 352px 312px 352px 352px;
  grid-template-rows: 234px 234px 100px 234px;
  */
}

.c-img {
  /*
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  */

  grid-row-start: 2;
  grid-row-end: 2;

  grid-column-start: 2;
  grid-column-end: 3;
  width: 288px;
  height: 583px;
}

.c-tekst {
  display: inline-block;
  vertical-align: text-bottom;

  grid-row-start: 2;
  grid-row-end: 4;

  grid-column-start: 3;
  grid-column-end: 3;

  line-height: 1.5;

  font-size: 20px;
}

.c-tekst__lower {
  grid-row-start: 3;
  grid-column-start: 3;
}

.c-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50;

  border: 1px solid var(--input-borderColor, var(--global-input-borderColor));
  border-radius: var(--global-borderRadius);
  border-width: var(--global-borderWidth);
  background-color: transparent;

  color: var(--global-fontcolor);
  font-family: inherit;
  font-size: var(--global-font-size-regular);

  line-height: calc(var(--global-baseline) * 3);
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
  outline: none;
}

.c-input__button {
  -webkit-appearance: none;
  -moz-appearance: none;

  /* border-radius: var(--global-borderRadius);
  border-width: var(--global-borderWidth);
  
  width: 50;
  background-color: gray;
  color: var(--global-fontcolor);
  border: 3px solid #6483ff; */

  appearance: none;
  width: 50;
  margin-left: 0.25rem;
  font-weight: bold;

  border: 2px solid #6483ff;
  background-color: rgba(0, 0, 0, 0.726);
  border-radius: var(--global-borderRadius);
  border-width: var(--global-borderWidth);

  color: var(--global-fontcolor);
  font-family: inherit;
  font-size: var(--global-font-size-regular);

  line-height: calc(var(--global-baseline) * 3);
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
  outline: none;

  text-decoration: none !important;

  cursor: pointer;
  transition: all 0.5s ease-out;
}


/* Popup message*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  border-radius: 50%;
  margin: 70px auto;
  padding: 20px;
  background: var(--color-white);
  border-radius: 5px;
  width: 25%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: var(--color-dark);
  align-items: center;
  align-content: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: black;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

@media only screen and (max-width: 767px) {
  body {
    background-image: url(../img/SpaceRoadsterBackgroundV2Mobile.png);
  }
  .c-app {
    grid-template-columns: 100px;
    grid-template-rows: 500px;
  }

  h1 {
    padding-top: 90px;
    padding-left: 80px;
    line-height: 1;
  }

  .c-img {
    padding-top: 15px;
    padding-left: 45px;
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .c-tekst {
    grid-row-start: 2;
    grid-column-start: 1;
    line-height: 1;
  }

  .c-tekst__main {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }

  .c-tekst__lower {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .c-input {
    width: 10rem !important;
  }
  /* .c-input__button {
    margin-left: 20rem !important;
  } */

  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
    font-size: 13px;
  }
}
