/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Colors */
  --color-light: #f9f9f9;
  --color-dark: #171717;
  --color-white: #fff;
  --color-light-blue: #6483ff;
  --color-mars-red: red;
  --color-roadster-purple: violet;
  --global-hover-color: #6583fac4;
  --global-pressed-color: #3053e0;

  --global-backgroundcolor: var(--color-dark);
  --global-fontcolor: var(--color-light);

  --global-border-color: var(--color-light);

  --global-font-color: var(--color-white);
  --global-hover-color: var(--color-light-blue);

  /* Borders */
  --global-borderRadius: 30px;
  --global-borderWidth: 2px;

  /* Baseline settings */
  --global-baseline: 8px;
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

  /* Forms */
  --global-input-borderColor: var(--global-border-color);

  /* Fontsizes */
  --global-font-size-regular: 24px;
  --global-font-size-big: 36px;

  /* Measurements*/
  --global-padding-top: 30px;
  --global-canvas-width-hight: 600px;
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

html {
  color: var(--global-fontcolor);

  font-size: var(--global-font-size-regular);
  font-family: arial, Helvetica, sans-serif;

  font-feature-settings: 'zero' 1;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(../img/StarBackground2.jpg);

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/*------------------------------------*\
  #Elements
  \*------------------------------------*/

h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 1;
  grid-row-start: 2;

  font-weight: bold;
  font-size: var(--global-font-size-big);
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
.c-canvas {
  width: 100%;
  max-width: calc(var(--global-canvas-width-hight) / 1.5);

  height: 100%;
  max-height: calc(var(--global-canvas-width-hight) / 1.5);
}
.c-app {
  display: grid;

  grid-template-columns: 15.5rem;
  grid-template-rows: 0.5rem 0.5rem 20rem 2rem 2rem;
}

.c-solarsystem {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 1;
  grid-row-start: 3;
}

.c-solarsystem__sun {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 1.5625rem;
  height: 1.5625rem;
}

.c-tekst {
  display: flex;
  align-items: center;
  justify-content: space-between;

  grid-column-start: 1;
  grid-row-start: 4;

  font-size: 14px;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 14.5rem;
}

.c-tekst__lower {
  display: flex;
  align-items: center;
  justify-content: space-between;

  grid-column-start: 1;
  grid-row-start: 5;

  font-size: 14px;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;

  max-width: 14.5rem;
}
.c-tekst__earth {
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid var(--color-light-blue);
  margin: 1em 0;
  padding: 0;
}

.c-tekst__mars {
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid var(--color-mars-red);
  margin: 1em 0;
  padding: 0;
}

.c-tekst__roadster {
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid var(--color-roadster-purple);
  margin: 1em 0;
  padding: 0;
}

.c-circle {
  display: flex;
  justify-content: space-between;
}

.c-circle__earth {
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--color-light-blue);
}

.c-circle__mars {
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--color-mars-red);
}

.c-circle__roadster {
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--color-roadster-purple);
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/* bigger phones*/
@media (min-width: 400px) {
  .c-app {
    background: green;

    grid-template-columns: 17rem;
    grid-template-rows: 0.5rem 2rem 2rem 20rem 2rem;
  }
}

/* tablet */
@media (min-width: 768px) {
  .c-app {
    background: blue;
  }
}

/* desktop*/
@media (min-width: 1200px) {
  .c-app {
    background-color: hotpink;
    display: grid;

    grid-template-columns: 18rem 45rem 17rem;
    grid-template-rows: 5rem 25rem 9rem;
  }
}
