/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Colors */
  --color-light: #f9f9f9;
  --color-dark: #171717;
  --color-white: #fff;
  --color-light-blue: #6483ff;
  --color-mars-red: #ff0000;
  --color-roadster-purple: #ee82ee;
  --color-mercury-green: #3cb371;
  --color-venus-orange: #ffa500;
  --global-hover-color: #6583fac4;
  --global-pressed-color: #3053e0;
  --color-dark-transparant: rgba(0, 0, 0, 0.726);

  --global-backgroundcolor: var(--color-dark);
  --global-fontcolor: var(--color-light);

  --global-border-color: var(--color-light);

  --global-font-color: var(--color-white);
  --global-hover-color: var(--color-light-blue);

  /* Borders */
  --global-borderRadius: 1.875rem;
  --global-borderWidth: 0.125rem;

  /* Baseline settings */
  --global-baseline: 0.5rem;
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

  /* Forms */
  --global-input-borderColor: var(--global-border-color);

  /* fontsize */
  --global-font-size-regular: 1rem;
  --global-font-size-semi-big: 1.25rem;
  --global-font-size-big: 2rem;

  --global-fontsize-web: 1.25rem;
  --global-fontsize-web-big: 2.25rem;

  --global-font-weight-regular: 400;
  --global-font-weight-medium: 600;

  /* Measurements*/
  --global-padding-top: 1.875rem;
  --global-canvas-width-hight: 37.5rem;

  --global-margin: 1rem;

  --global-margin-smaller: calc(var(--global-margin) / 4);
  --global-margin-small: calc(var(--global-margin) / 2);
  --global-margin-big: calc(var(--global-margin) * 2);
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

html {
  color: var(--global-fontcolor);

  font-size: var(--global-font-size-regular);

  font-family: Helvetica, arial, sans-serif;

  background-image: url(../img/NZ/NZ_star_main.png);

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-feature-settings: 'zero' 1;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------------------*\
  #Elements
  \*------------------------------------*/

h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 1;
  grid-row-start: 2;

  font-weight: var(--global-font-weight-medium);
  font-size: var(--global-font-size-big);
}

label {
  background-color: transparent;
  display: flex;
  padding: 0.2rem;
  cursor: pointer;
  max-width: var(--global-margin-big);
}

ul {
  list-style: none;
  padding: 0;
  background-color: honeydew;
  margin-right: var(--global-margin-small);

  display: inline;
  align-items: center;
  list-style-type: none;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: 0rem;
  margin-inline-end: 0rem;
  padding-inline-start: 0rem;
}

ul li {
  display: flex;

  font-size: var(--global-font-size-semi-big);

  padding: 0.5rem;
  padding-left: 0.2rem;
  line-height: 1;
  transition: all 0.5s;

  opacity: 0;
  /* opacity: .5; */
}

li {
  width: 10rem;
  margin-left: var(--global-margin-small);
  background-color: var(--color-dark-transparant);
}

label:before {
  transition: all 0.5s;
  position: relative;
  opacity: 1;
}

input[type='checkbox'] {
  visibility: hidden;
  position: absolute;
}

#collapse:checked ~ li {
  margin-top: 0;
  opacity: 1;
}
#collapse:checked + label:before {
  position: relative;
}

.c-svg:hover {
  transition: 0.25s;
  fill: var(--global-hover-color);
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
.c-canvas {
  width: 100%;
  max-width: calc(var(--global-canvas-width-hight) / 1.5);

  height: 100%;
  max-height: calc(var(--global-canvas-width-hight) / 1.5);
}
.c-app {
  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: 2rem 2rem 23rem 2rem 2rem;
}

.c-solarsystem {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 1;
  grid-row-start: 3;

  z-index: 1;
}

.c-solarsystem__sun {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2rem;
  height: 2rem;

  z-index: 1;
}
.c-info {
  padding-top: 0rem;
  grid-row-start: 1;
  grid-column-start: 1;

  z-index: 2;
}

.c-label {
  font-size: var(--global-font-size-big);
  font-weight: var(--global-font-weight-medium);

  color: var(--color-white);
}

.c-svg {
  display: flex;

  width: 4rem;
  height: 4rem;

  fill: var(--color-roadster-purple);

  grid-column-start: 1;
  grid-row-start: 1;

  margin-left: var(--global-margin-smaller);
}

.c-tesla {
  display: none;
}

.c-tekst {
  display: flex;
  align-items: center;
  justify-content: space-between;

  grid-column-start: 1;
  grid-row-start: 4;

  padding-left: 1rem;
  padding-right: 2rem;

  padding-top: 2rem;

  max-width: 100%;
}

.c-tekst__lower {
  display: flex;
  align-items: center;
  justify-content: space-between;

  grid-column-start: 1;
  grid-row-start: 5;

  font-size: var(--global-font-size-regular);

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  padding-top: 2rem;
  padding-bottom: 2rem;

  max-width: 100%;
}
.c-tekst__earth {
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid var(--color-light-blue);

  padding: 0;
}

.c-tekst__mars {
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid var(--color-mars-red);

  padding: 0;
}

.c-tekst__roadster {
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid var(--color-roadster-purple);
  padding: 0;
}

.c-circle {
  display: flex;
  justify-content: space-between;
}

.c-circle__earth {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-light-blue);
  margin-left: 1rem;
}

.c-circle__mars {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-mars-red);
}

.c-circle__venus {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-venus-orange);
  margin-left: 0rem;
}

.c-circle__mercury {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  background-color: var(--color-mercury-green);
}

.c-circle__roadster {
  height: 2.5rem;
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/* bigger phones*/
@media (min-width: 400px) {
  h1 {
    margin-top: 2rem;
  }
  .c-app {
    grid-template-columns: 100%;
    grid-template-rows: 2rem 4rem 30rem 2rem 4rem;
  }

  .c-tekst {
    margin-top: var(--global-margin-big);
  }

  .c-tekst__lower {
    margin-top: var(--global-margin-big);
  }

  .c-circle__earth {
    margin-left: 1rem;
  }

  .c-circle__mars {
    margin-right: 0.5rem;
  }

  .c-circle__venus {
    margin-left: -0.7rem;
  }

  .c-circle__mercury {
    margin-left: 0.5rem;
  }

  .c-circle__roadster {
    margin-left: 0.5rem;
  }
}

/* tablet */
@media (min-width: 768px) {
  .c-app {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10rem 30rem 2rem;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column-start: 2;
    grid-row-start: 1;

    font-weight: var(--global-font-weight-medium);
    font-size: var(--global-fontsize-web-big);
  }
  li {
    background-color: transparent;
    width: auto;
  }

  .c-svg {
    display: flex;

    fill: var(--color-roadster-purple);

    grid-column-start: 1;
    grid-row-start: 1;
  }

  .c-info {
    padding-top: 0rem;
    grid-row-start: 1;
    grid-column-start: 1;

    z-index: 2;
  }

  .c-solarsystem {
    grid-column-start: 2;
    grid-row-start: 2;

    justify-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
  }

  .c-solarsystem__sun {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 3rem;
    height: 3rem;
  }

  .c-tekst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    grid-column-start: 2;
    grid-row-start: 3;

    padding: 0rem;
    margin: 0rem;

    padding-bottom: 0rem;
    padding-top: 0rem;
  }

  .c-tekst__lower {
    display: flex;
    justify-content: space-between 0.5rem;
    align-items: center;
    text-align: center;

    font-size: var(--global-fontsize-web);

    grid-column-start: 2;
    grid-row-start: 3;

    padding: 1rem;
  }

  .c-circle__earth {
    margin-left: 2rem;
  }

  .c-circle__mars {
    margin-right: 2rem;
  }

  .c-circle__venus {
    margin-left: -0.5rem;
  }

  .c-circle__mercury {
    margin-left: 1rem;
  }

  .c-circle__roadster {
    margin-left: 0.2rem;
  }
}

/* desktop*/
@media (min-width: 1200px) {
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column-start: 2;
    grid-row-start: 1;

    font-weight: var(--global-font-weight-medium);
    font-size: var(--global-fontsize-web-big);
  }
  li {
    background-color: transparent;
  }

  .c-app {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10rem 40rem 2rem;
  }

  .c-info {
    padding-top: 0rem;
    grid-row-start: 1;
    grid-column-start: 1;

    z-index: 2;
  }

  .c-solarsystem {
    grid-column-start: 2;
    grid-row-start: 2;

    justify-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
  }

  .c-solarsystem__sun {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 3rem;
    height: 3rem;
  }

  .c-tekst {
    display: flex;
    justify-content: space-between;

    grid-column-start: 2;
    grid-row-start: 3;

    padding: 0rem;
  }

  .c-tekst__lower {
    display: flex;
    justify-content: space-between;

    grid-column-start: 2;
    grid-row-start: 3;

    font-size: var(--global-fontsize-web);

    padding: 1rem;

    padding-left: 10rem;
    padding-right: 10rem;

    padding-top: 2rem;
  }

  .c-circle__earth {
    margin-left: 11rem;
  }

  .c-circle__mars {
    margin-right: 11rem;
  }

  .c-circle__venus {
    margin-left: -0.5rem;
  }

  .c-circle__mercury {
    margin-left: 1rem;
  }

  .c-circle__roadster {
    margin-left: 1rem;
  }
}
