ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
  margin: 20px;
}
ul li {
  display: block;
  height: 20px;
  padding: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  opacity: 0;
}

label:before {
  height: 2px;
  width: 20px;
  background: #333;
  display: inline-block;
  content: '';
  box-shadow: 0px -5px 0px 0px #333, 0px -10px 0px 0px #333;
  margin-right: 10px;
  transition: all 0.5s;
  position: relative;
  opacity: 1;
}
label {
  display: block;
  padding: 10px;
  color: white;
  cursor: pointer;
}
input[type='checkbox'] {
  visibility: hidden;
  position: absolute;
}
#collapse:checked ~ li {
  margin-top: 0;
  opacity: 0.5;
  background-color: #232323;
}
#collapse:checked + label:before {
  position: relative;
}
